
:root {
    --primary-color: #2c3e50;
    --accent-color: #e67e22;
    --bg-light: #f4f4f4;
    --text-main: #333333;
    --card-bg: #ffffff;
    --border-color: #dddddd;
}


body {
    font-family: Arial, Helvetica, sans-serif; /* Sans-serif */
    background-color: var(--bg-light);
    color: var(--text-main);
    line-height: 1.6;
    margin: 10;
}


h1, h2, h3 {
    font-family: Georgia, "Times New Roman", serif;
    font-weight: bold;
    color: var(--primary-color);
}


nav a {
    text-decoration: none; /* remove underline */
    color: var(--primary-color);
    padding: 6px 10px;
    display: inline-block;
    transition: 0.3s;
}


nav a:hover {
    background-color: var(--accent-color);
    color: white;
}


button,
input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: var(--accent-color);
}

button:active {
    transform: scale(0.95);
    background-color: #1a252f;
}

input:focus,
button:focus {
    outline: 3px solid var(--accent-color);
}


article {
    width: 220px;
    display: inline-block;
    vertical-align: top;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}

article:nth-child(even) {
    background-color: #fafafa;
}

article img {
    width: 100%;
    border-radius: 6px;
}

.cart-container:empty {
    background-color: #ffe6e6;
    padding: 20px;
    border: 2px dashed red;
}


.price::before {
    content: "₱ ";
    font-weight: bold;
}

input:required {
    border: 2px solid #e67e22;
}

input:valid {
    border: 2px solid green;
}


table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid var(--border-color);
    padding: 10px;
}

td:first-child {
    font-weight: bold;
    color: var(--primary-color);
}


li::marker {
    color: var(--accent-color);
    font-size: 1.2em;
}


.review::before {
    content: "“";
    font-size: 24px;
    color: var(--accent-color);
}

.review::after {
    content: "”";
    font-size: 24px;
    color: var(--accent-color);
}
